body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/images/black-abstract.jpg'); 
    background-size: cover;
    color: #333;
}
header, section, footer, b, h1, h2, h3, p, li, a {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: silver;
    color: darkblue;
    padding: 1em;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-image: url('/images/silver-abstract.png');
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-link {
    display: block;
    margin-bottom: 10px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.project-link:hover {
    text-decoration: underline;
    color: red;
}

footer {
    background-color: silver;
    color: darkblue;
    text-align: center;
    padding: 1em 0;
    width: 100%;
}

.owner-details {
    color: white;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.owner-photo {
    width: 250px;
    height: auto;
    margin-left: 900px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out; 
}

.owner-details a {
    color: rgb(255, 3, 221);
}

.owner-details a:hover {
    color: cyan;
}
.owner-details p:hover {
    font-size: 22px;
    transition-delay: 0.1s;
}
.owner-details p {
    transition: font-size 0.5s ease-in-out;
}
.owner-details img:hover {
    transform: scale(1.5); 
    transition: transform 0.3s ease-in-out; 
}

.owner-details h3 {
    color: rgb(210, 232, 83);
    font-size: 26px; 
    transition: font-size 0.5s ease-in-out;
   
}


.owner-details h3:hover {
    font-size: 32px; 
    transition-delay: 0.1s;
}

h3 {
    color: white;
    text-align: justify;
    text-justify: inter-word;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
